/* SearchPage.module.css */
h2{
  color: black;

}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.searchInput {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchButton {
  padding: 10px;
  /* background: #007bff; */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

.apiTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.apiTable th, .apiTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.apiTable th {
  background-color: #28a745;
}

.actionButtons {
  display: flex;
  gap: 10px;
}

.editButton, .deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.editButton {
  color: #28a745;
}

.deleteButton {
  color: #dc3545;
}

.assetImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 5px;
  border-radius: 5px;
}

.assetLink {
  display: inline-block;
  color: blue;
  text-decoration: underline;
  margin-right: 5px;
}
